#h2{
     color:blue;
     text-align: center;
}
#h1 {
     text-align: center;
}
button a {
     text-decoration: none;
     color:red;

}
button{
     text-align: center;
     background-color: black;
     font-size: large;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}